{% extends 'bookingsubject/layout.html' %} {% block body %}
<div style="background-color: white" class="p-2">
  <div class="flex">
    <div class="row">
      <div class="col">
        <h2
          class="position-relative text-center justify-content-center head-text"
        >
          Booking Subjects
        </h2>
      </div>
      <div class="col">
        <a
          class="position-relative justify-content-end btn btn-secondary float-right"
          href="{% url 'index' %}"
          >Back</a
        >
        {% if request.user.is_superuser %}
        <a
          class="position-relative mr-1 justify-content-end btn btn-primary float-right"
          href="{% url 'create_subject' %}"
          >Create subject</a
        >
        {% endif %}
      </div>
    </div>
  </div>
  <table class="table table-hover text-center">
    <thead>
      <tr class="sub-text">
        <th scope="col">Code</th>
        <th scope="col">Subject name</th>
        <th scope="col">Semester</th>
        <th scope="col">Academic year</th>
        <th scope="col">Student Amount</th>
        {% if request.user.is_superuser %}
        <th scope="col">Status</th>
        {% endif %}
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="text text-center">
      {% for subject in subjects %}
      <tr>
        <th scope="row" class="text-dark align-middle">#{{ subject.code }}</th>
        <th class="align-middle">{{ subject.subject_name }}</th>
        <th class="align-middle">{{ subject.semester }}</th>
        <th class="align-middle">{{ subject.academic_year }}</th>
        <th class="align-middle">{{ subject.amount }}/{{ subject.student }}</th>
        {% if request.user.is_superuser %}
        <th class="align-middle">{{ subject.status }}</th>
        {% endif %}
        <th class="align-middle">
          <div class="row">
            <div class="col">
              <a
                class="btn btn-primary"
                href="{% url 'subject_info' subject.id %}"
                >View</a
              >
            </div>
            {% if request.user.is_superuser %}
            <div class="col">
              <form action="{% url 'remove_subject' subject.id %}">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
            {% endif %}
          </div>
        </th>
      </tr>
      {% empty %}
      <tr>
        <th colspan="7"><i>No data</i></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if status == False and message %}
  <div class="alert alert-danger text-center">
    {{ message}}
    <a class="btn btn-secondary ml-2" href="{% url 'booking_index' %}"
      >Refresh</a
    >
  </div>
  {% elif status == True %}
  <div class="alert alert-success text-center">
    {{ message }}
    <a class="btn btn-secondary ml-2" href="{% url 'booking_index' %}"
      >Refresh</a
    >
  </div>
  {% endif %}
</div>
{% endblock %}

<!-- Theme Color -->
<!-- https://coolors.co/114b5f-028090-e4fde1-456990-f45b69 -->
