<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Users</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'bookingsubject/style.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      function call_counter(url, pk) {
        window.open(url);
        $.get("YOUR_VIEW_HERE/" + pk + "/", function (data) {
          alert("counter updated!");
        });
      }
    </script>
    {% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'logout' and request.resolver_match.url_name != 'register' %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand">{{request.user.first_name}}  {{request.user.last_name}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link mt-1">{{request.user.username}} <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-danger float-right right-0" id="logout" href="{% url 'logout' %}">Log out</a>
        </form>
      </div>
    </nav>
    {% endif %}
  </head>

  <body>
    <div class="container p-2 mt-2">{% block body %} {% endblock %}</div>
  </body>
</html>
