{% extends 'bookingsubject/layout.html' %} {% block body %}
<div style="color: white">
  <h2 class="text-white text-center">Subject Infomation</h2>
  <div class="info-body">
    <ul class="list-group list-group-flush text-white mb-4">
      <li class="list-group-item bg-transparent">
        Subject name : {{ subject_data.subject_name }}
      </li>
      <li class="list-group-item bg-transparent">
        Semester : {{ subject_data.semester }}
      </li>
      <li class="list-group-item bg-transparent">
        Academic Year : {{ subject_data.academic_year }}
      </li>
      <li class="list-group-item bg-transparent">
        Maximum student : {{ subject_data.amount }} / {{ enrolls.count }}
      </li>
      {% if request.user.is_superuser == True %}
      <li class="list-group-item bg-transparent">
        Status : {{ subject_data.status }}
      </li>
      {% endif %}
    </ul>
  </div>
  <h2 class="text-white text-center">Student in class</h2>
  <div class="student-list mt-2 bg-white">
    <table class="table table-hover text-center">
      <thead>
        <tr class="sub-text">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Student ID</th>
        </tr>
      </thead>
      <tbody>
        {% for enroll in enrolls %}
        <tr>
          <th scope="row" class="sub-text align-middle">#{{ forloop.counter }}</th>
          <th scope="row" class="sub-text align-middle">
            {{ enroll.user.first_name }} {{ enroll.user.last_name }}
          </th>
          <th scope="row" class="sub-text align-middle">
            {{ enroll.user.username}}
          </th>
        </tr>
        {% empty %}
        <tr class="text-dark">
          <th colspan="3"><i>No data</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="section-action mt-2 left-0">
    <div class="flex float-right">
      {% if is_already_enroll == False %}
      <form class="btn" action="{% url 'enroll_subject' subject_data.id request.user.id  %}" method="post">
        {% csrf_token %}
        {% if request.user.is_superuser == False %}
        <button type="submit" class="btn btn-primary">Enroll</button>
        {% endif %}
      </form>
      {% else %}
      <form class="btn" action="{% url 'unenroll_subject' subject_data.id %}" method="post">
        {% csrf_token %}
        {% if request.user.is_superuser == False %}
        <button type="submit" class="btn btn-danger">Unenroll</button>
        {% endif %}
      </form>
      {% endif %}
      <a class="btn btn-secondary" href="{% url 'booking_index' %}">Back</a>
    </div>
  </div>
</div>
{% endblock %}
