body {
    background-color: #2D2926FF;
    color: #456990;
}
/* 
.sub-bg {
    background-color: #028090;
} */

.head-text {
    color: #E94B3CFF
}
.text {
    color: darkgray
}
.sub-text {
    color: gray
}
