{% extends 'users/layout.html' %} {% block body %}
<div class="sub-bg">
  <!-- <h1>Welcome, -->
  <h1 class="head-text">Announcement</h1>
  <div class="card text-left bg-dark mb-4">
    <div class="card-header">
      To student
    </div>
    <div class="card-body">
      <h5 class="card-title">Booking subject</h5>
      <p class="card-text">For students who wish to enroll in various courses.</p>
      <a href="/bookingsubject" class="btn btn-primary text-right inline">View</a>
    </div>
    <div class="card-footer">
      90 days left
    </div>
  </div>
  <div class="card text-left bg-dark">
    <div class="card-header">
      To student
    </div>
    <div class="card-body">
      <h5 class="card-title">Subject enrollmented</h5>
      <p class="card-text">For viewing courses that students have already registered.</p>
      <a href="/bookingsubject/enrollmented" class="btn btn-primary">View</a>
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>
</div>

{% endblock %}
