*{
    color: white;
}
h1{
    padding-right: 20px;
    font-size: 70px;
}
body{
    background-color: black;
}
.login .mb-3{
    padding-top: 10px;
}
.login .form-control{
    width: 250px;
}
.login .btn{
    margin-top: 10px;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 750px;
}
.login form{
    padding-top: 40px;
}
